.venv/

__pycache__/

results/

.DS_Store
trial_1/lstm_output/best_model.pt

src/lstm/new_lstm/checkpoints/
src/lstm/new_lstm/checkpoints/best_model.pt
src/lstm/new_lstm/checkpoints/checkpoint_epoch_1.pt
models/
